<div class="row">
  <div class="links__title">

    <div class="gr-10">
      <h3>
        {{link-title link=link}}
      </h3>
    </div>

    <div class="gr-2">
      {{gravatar-image email="laurent.schaffner.code@gmail.com" class="links__photo"}}
    </div>

  </div>
</div>
