+component(header)

  text-align: center
  font-family: sans-serif
  background-color: $color-dark
  color: $color-white

  +part(prelinks)
    text-align: right
    margin-right: 1em
    margin-top: 0.3em
    text-transform: uppercase
    font-size: 0.9em
    +header-links

  +part(inside)
    a
      text-decoration: none
      color: $color-white
    padding: 2em

  +part(author)
    text-transform: uppercase
    h1
      margin: 0

  +part(summary)
    font-weight: 300
    color: $color-grey
    font-size: 1.6em

  +part(links)
    padding-top: 0.5em
    font-size: 1.2em
    +header-links
