+component(resume-header)

  margin-bottom: 1.5em
  
  // a
  //   color: $color-dark
  //   text-decoration: none
  //   border-bottom: 1px solid $color-dark

  +part(image)
    text-align: center
    margin-top: 1em

  +part(photo)
    +round-photo(170px)

  +part(title)
