<!-- Content -->
<div class="gr-11 gr-centered">

  <div class="links">

    <!-- Links header -->
    {{content-links-header}}

    <!-- Links -->
    {{#each model.links as |link|}}
      {{content-links link=link}}
    {{/each}}

  </div>

</div>
