<div class="gr-10 push-1">

<div class="resume">

  <div class="resume__summary">

    <!-- Title -->
    <h1>Summary</h1>

    <!-- Description -->
    <p>
      I've been working on side projects since I'm a teenager, so far I can proudly say that none of my tech-oriented projects were ever a success, but I don't give up and keep a trace of each of them, hoping someday someone will ask about it.
    </p>

  </div>

  <hr />

  <div class="resume__experience">

    <!-- Title -->
    <h1>Current projects</h1>

    <!-- Job -->
    <h2>Bloodbath.io</h2>
    <h3>VueJS SPA / Rails API</h3>
    <div class="resume__detail">
      Since January 2018
    </div>

    <!-- Description -->
    <p>
      Ever heard of cryptocurrencies ? Well, me too. After investing my money in this emotional rollercoaster since early 2017, I realized no portfolio was ever matching my expectations, so I built one. Also crypto projects were being created all over the Internet, so why not make one too ? I tried to keep everything simple and minimalist. The killer feature is the weather which shows the current <em>mood</em> of the daily market or/and your portfolio.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
        <a href="https://bloodbath.io" target="_blank">Check project online</a>
    </div>

  </div>

  <hr />

  <div class="resume__experience">

    <!-- Title -->
    <h1>Projects graveyard</h1>

    <!-- Description -->
    <p>
      Coming soon
    </p>

  </div>

  <hr />

</div>
</div>
