<div class="gr-10 push-1">

<div class="resume-header">

  <div class="row">

    <div class="gr-4 resume-header__image">
      {{gravatar-image email="laurent.schaffner.code@gmail.com" class="resume-header__photo"}}
    </div>

    <div class="gr-8 resume-header__title">
      <h2>Computer engineer</h2>
        Experienced Ruby on Rails Developer<br />
        Experienced NodeJS Developer<br />
        Sr. Laravel Developer<br /><br />

        Phone: +49 1575 8791387 (Germany)<br />
        E-Mail: <a href="mailto:laurent.schaffner.jobs@gmail.com">laurent.schaffner.jobs@gmail.com</a><br />
    </div>

  </div>

  <hr />

</div>

<div class="resume">

  <div class="resume__summary">

    <!-- Title -->
    <h1>Summary</h1>

    <!-- Description -->
    <p>
      I’m a lifelong student first and foremost. I’m always trying to improve myself and learn new things. I’m interested in various fields, mostly coding, business, marketing, psychology linguistic and anthropology.<br /><br />

      I am a seasoned programmer with more than 10 years in SaaS and am well versed in many languages. I try my best to thoroughly understand the technical challenges of each project going in and then choose the most effective platform / language to see it through. Recently most of the projects I’ve worked on have been based in Ruby on Rails, NodeJS and Laravel. I write clean readable and scalable code.<br /><br />

      For the majority of my career I have been in a back-end  position. I’m good at dealing with the server side and know the importance of being able to adapt myself to any given situation / technology. I pride myself in being able to think through complex systems, anticipate problems, and fix them before they happen.<br /><br />
    </p>

  </div>

  <hr />

  <div class="resume__skill-sets">

  <!-- Title -->
  <h1>Skill Sets</h1>

  <!-- Description -->
  <ol>Ruby on Rails stack <span class="resume__detail">3+ years experience</span>
    <li>Experience with Rails Engines, Gems creation</li>
    <li>Experience with RSpec, Capybara, FactoryGirl</li>
    <li>Experience with Capistrano</li>
    <li>Good with HAML / ERB</li>
  </ol>

  <ol>NodeJS stack <span class="resume__detail">2+ years experience</span>
    <li>Experience with ExpressJS, SailsJS, Meteor / Iron and Ionic</li>
    <li>Managed SocketIO on several projects</li>
    <li>Deal with Cordova</li>
  </ol>

  <ol>Laravel stack <span class="resume__detail">4+ years experience</span>
    <li>Experience with Laravel 4.2 and Laravel 5</li>
    <li>Good with Blade</li>
    <li>Used several PHP frameworks prior to Laravel such as CodeIgniter, PhalconPHP, SlimFramework (10+ years experience)</li>
  </ol>

  <ol>JavaScript <span class="resume__detail">10+  years experience</span>
    <li>Versed in CoffeeScript</li>
    <li>Versed in using jQuery</li>
    <li>Versed in using EmberJS and GothamJS</li>
    <li>Bases in TypeScript</li>
  </ol>

  <ol>CSS <span class="resume__detail">10+  years experience</span>
    <li>Versed  in SASS / LESS</li>
    <li>Experience in various grid systems (Bootstrap, Gridle)</li>
    <li>Enthousiast of BEM via CSStyle</li>
    <li>Experience with Brunch</li>
  </ol>

  <ol>HTML / XML <span class="resume__detail">10+ years experience</span></ol>

  <ol>Databases <span class="resume__detail">10+ years experience</span>
    <li>Experience with MySQL / PostgreSQL</li>
    <li>Experience with MongoDB  mostly through Mongoose and MongoId</li>
    <li>Use Active Record and other ORMs</li>
    <li>Bases in ElasticSearch</li>
  </ol>

  <ol>Managing AJAX based websites</ol>

  <ol>API construction <span class="resume__detail">5+ years experience</span>
    <li>Large experience in RESTful API architecture / construction</li>
    <li>Managed external APIs structure protected via keys / tokens</li>
    <li>Managed internal APIs and secured webhook communications</li>
  </ol>

  <ol>Git version control <span class="resume__detail">5+ years experience</span></ol>

  <ol>Payments solution <span class="resume__detail">4+ years experience</span>
    <li>Various experiences with Stripe payment (3+ years)</li>
    <li>Marketplace architecture with Wirecard (1 year)</li>
  </ol>


  <ol>System Administrator <span class="resume__detail">6+ years experience</span>
    <li>CLI / SSH control, setup a Linux / Unix server without problem</li>
    <li>Experience with Apache and NGinx</li>
    <li>Experience with SSLs certificates</li>
  </ol>



  <ol>Photoshop / Illustrator : been using  here and there for several years, able to edit vectorial resources and design mockups, used to draw vectorial characters to build flash video games back in the days.</ol>

  </div>

  <hr />

  <div class="resume__experience">

    <!-- Title -->
    <h1>Experience</h1>

    <!-- Job -->
    <h2>DigPanda GmbH (Munich, Germany)</h2>
    <h3>Technical Leader / Ruby on Rails Developer</h3>
    <div class="resume__detail">
      Since May 2016
    </div>

    <!-- Description -->
    <p>
      This startup called me to save them technically ; unable to release a solid sino-germanic marketplace, they asked for help. I had to take the lead on a small team, rebuild completely their front-end, stabilize the whole back-end side and improve its speed / scalability. I established multiple processes such as deployment automatism, programming good practices, testing, git organization, schedule boards and finally delivered a stable version after a few months. I’m currently still working on developing the overall system and try my best to improve its core daily.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
        <a href="#"></a>
    </div>

    <!-- Job -->
    <h2>Virtual Safety Inc &amp; Gotham Partners LLC (Baton Rouge, Louisiana)</h2>
    <h3>Ruby on Rails Developer</h3>
    <div class="resume__detail">
      Feb 2014 - Jan 2016
    </div>

    <!-- Description -->
    <p>
      Back-end developer &amp; Software Architect in a team of four Ruby on Rails developers. We created three full stack ruby SaaS applications and handled everything from design and planning to deployment. I personally dealt with the project schematics, software flow, creating multiple APIs, and wrote most of the backend code. Had to overcome obstacles such as constantly evolving software requirements based on user’s needs while keeping the code base clean and maintainable.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
        <a href="https://docs.google.com/document/d/16wddY_r_XUO1lQzVyw6CpS4UkE8lsVjLbX1b8hR7V_A/edit?usp=sharing" target="_blank">Read my reference</a>
    </div>

    <!-- Job -->
    <h2>La Petite Box SAS (Bordeaux, France)</h2>
    <h3>Chairman / Sr. Laravel Developer</h3>
    <div class="resume__detail">
      Sept 2014 - Apr 2016
    </div>

    <!-- Description -->
    <p>
      Created a  monthly delivery box company with two other associates and one graphic artist. I was the lead developer / project manager and created a very customized shopping cart tailored to the needs of our delivery service.  I engineered systems to handle customer leads, order flow, a recurring payment system using stripe (>50 000 euros growth), and a module that programmatically fulfilled orders. I also aggregated data that was collected from our users and build out a reporting module with several  easy to understand graphs that helped to make sense of many complex and relational data sets (>2 000 orders).
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
        <a href="#"></a>
    </div>

    <!-- Job -->
    <h2>Agence Volt (Bordeaux, France)</h2>
    <h3>Director Strategy, Project Manager</h3>
    <div class="resume__detail">
      Nov 2012 - Nov 2013
    </div>

    <!-- Description -->
    <p>
      Created a code outsourcing company with one associate. I had to find customers and deal with their needs as project manager / back-end developer. Three big web-projects were made throughout an entire year and stayed scalable despite lots of changes from the initial requests to the end.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
        <a href="https://docs.google.com/document/d/1FnL7MB2DPCk47xPOFfZlxvN7e3rcOxJieWz-hRwS4BA/edit?usp=sharing" target="_blank">Read my reference</a>
    </div>

    <!-- Job -->
    <h2>Beauté-Marine (Thessaloniki, Greece)</h2>
    <h3>Web strategy / Web Developer</h3>
    <div class="resume__detail">
      May 2013
    </div>

    <!-- Description -->
    <p>
      Despite the brevity of this experience I must write it down. Greece was in the middle of the crisis back then and I helped out this wholesale company with their web strategy in an emergency context. I had to setup a product website and find ways to make them visible on Internet while their growth was going way down. They are still on track today.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
      <a href="#"></a>
    </div>

    <!-- Job -->
    <h2>iDrink Livraison (Arcachon, France)</h2>
    <h3>General Manager / Web Developer</h3>
    <div class="resume__detail">
      May 2011 - Sept 2011
    </div>

    <!-- Description -->
    <p>
      In my hometown it was legal to sell alcohol late into the night, but most stores did not stay open late. There was a need  that no one was servicing. I teamed up with  one other associate  and created  a web based alcohol delivery service. We leveraged the power of social media in combination with an easy to use web interface that made ordering alcohol online easier than ordering a pizza. We started with a Minimum Valuable Product and after seeing success we began growing the usability of the ordering platform. Aside from improving the website, we created an App that customers could use as well to order from their phones. The company became very profitable very quickly. We however, found it difficult to grow outside of the local area for legal reasons. After overcoming all the technological challenges I started to grow bored with the business and ultimately sold the company for a nice profit.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
      <a href="#"></a>
    </div>

    <!-- Job -->
    <h2>Freelancer</h2>
    <h3>Web Developer</h3>
    <div class="resume__detail">
      2003 - May 2014
    </div>

    <!-- Description -->
    <p>
      I started to get contracts for ActionScript development back in 2003. At the time there were a big trend on Flash games / Casino games ; I surfed on it for a while. I then got hired from time to time on different fields and evolved by learning other languages (C, TCL/eggdrop, PHP, ...) ; my projects went from IRC server bots to Flash encapsulated softwares. During  this period I got hooked  on  web development and have continued in this field ever since. I began improving  my workflow  by moving to an  Object-Oriented / MVC  approach. I got several small / middle sized web projects throughout the years as freelancer beside my other projects.
    </p>

    <!-- Bottom -->
    <div class="resume__bottom">
      <a href="#"></a>
    </div>

  </div>

  <hr />

  <h2>Education</h2>

  Started college in 2009 after a successful Literature Baccalauréat. I earned a Licence of Communication in Bordeaux and then studied Linguistic Science for one additional year. I worked as developer in parallel of all this and decided to stop my formal college studies to focus on my passion which has become SaaS software development and pursue my business ideas.

  <hr />

  <h2>References</h2>

  I have many great references available upon request.

</div>
</div>
